:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--darkBlue);
  background: linear-gradient(180deg, rgba(231,231,231,1) 50%, rgba(54,100,110,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #edf6f9;
  --secondary: #ffddd2;
  --error: #e29578;
  --success: #83c5be;
  --darkBlue: #006d77;
}
body {
  height: 100vh;
}
