.drawerContent-blue {
    height: 200px;
    padding: 20px;
}
.drawerContent-white {
    height: 200px;
    padding: 20px;
    background-color: white;
}
.drawerContent-dark {
    height: 200px;
    padding: 20px;
    background-color: black;
    color: white;
}

.name {
    margin: 20px 0;
    font-size: 1.3em;
    font-style: italic;
}

.name .links-blue {
    color: var(--darkBlue)
}
.name .links-white {
    color: black;
}
.name .links-dark {
    color: white;
}


.image-white {
    border: 5px solid black;
}