.footer {
    position: fixed;
    bottom: 0;
}

.buttonBackground-blue {
    background-color: var(--darkBlue);
}
.buttonBackground-white {
    background-color: black;
}
.buttonBackground-dark {
    background-color: white;
}