.contact-blue {
    width: 100%;
    background-color: var(--darkBlue);
    color: var(--primary);
    margin: 60px 0 20px 0;
    justify-content: space-around;
    padding: 10px 0;
}
.contact-white {
    width: 100vw;
    background-color: black;
    color: white;
    margin: 60px 0 20px 0;
    justify-content: space-around;
    padding: 10px 0;
}

.contact-blue a {
    color: white;
}

.contact-white a {
    color: white;
}
